services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app:cached
    depends_on:
      db:
        condition: service_healthy
    ports: [ "8000:8000" ]
    env_file: .env
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app/backend
          ignore: [ ".venv/", "__pycache__/" ]
        - action: rebuild
          path: ./backend/pyproject.toml
